{% extends "base.html" %}

{% block extrahead %}
  {{ super() }}
  <meta property="og:title" content="Mr. Penguino Documentation">
  <meta property="og:description" content="Helpful resources and command explanations for Mr. Penguino bot.">
  <meta property="og:image" content="https://britishpersonno193729381.github.io/Mr.Penguino-Documentation.Web-Code/assets/images/penguino.png">
  <meta property="og:url" content="https://britishpersonno193729381.github.io/Mr.Penguino-Documentation.Web-Code/">
  <meta name="twitter:card" content="summary_large_image">
{% endblock %}