{% extends "base.html" %}

{% block extrahead %}
  {{ super() }}
  <!-- Open Graph meta tags -->
  <meta property="og:title" content="Mr. Penguino Documentation" />
  <meta property="og:description" content="Helpful commands and setup guides for Mr. Penguino" />
  <meta property="og:url" content="https://britishpersonno193729381.github.io/Mr.Penguino-Documentation.Web-Code/" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://britishpersonno193729381.github.io/Mr.Penguino-Documentation.Web-Code/assets/images/penguino.png" />
  
  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Mr. Penguino Documentation" />
  <meta name="twitter:description" content="Helpful commands and setup guides for Mr. Penguino." />
  <meta name="twitter:image" content="https://britishpersonno193729381.github.io/Mr.Penguino-Documentation.Web-Code/assets/images/penguino.png" />
{% endblock %}
